{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<style>
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}

 body{
    background:url("../../../static/img/bg7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;

    }
    h2{
    color: white;
    text-align: center;
    }
 #business-list{
    opacity:0.5;
    background-color: #F7F7F7;
    width: 200px;
    margin-bottom: 10px;
 }

</style>
<body>
<!--<h2 id="home-header" style="text-align:center; color: black; background-color: #F7F7F7;">Neighborhood</h2>-->



{% for biz in business %}
<div class="container-fluid">
    <div class="row" id="business-list">
        <br><br>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:center; display: inline;"><h3>{{post.name}}</h3>




            <h4 style="color: black;">Business Details</h4>

            <h5><b style="color: green;">Name:</b> {{biz.name}}</h5>
            <h5><b style="color: green;">Location:</b> {{biz.neighborhood}}</h5>
            <h5><b style="color: green;">Phone Number:</b> {{biz.phone_number}}</h5>
            <h5><b style="color: green;">Description:</b> {{biz.description}}</h5>
            <h5><b style="color: green;">Email:</b> {{biz.email}}</h5>










 </div>

    </div>
</div>
{% endfor %}
</body>
{% endblock %}