{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<style>
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
body{
    background:url("../../../static/img/bg6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;

    }
    h2{
    color: white;
    text-align: center;
    }

.occupants{
    color:white;
    text-align: center;

}
#occupant{
    color:white;
    text-align: center;


}
#occ-count{
    color:yellow;
    text-align: center;


}

#po{
    opacity: 0.7;
    padding-bottom: 10px;
    width: 300px;
    height: 100%;

}
#hotlines{
    height:200px;
    width: 300px;
    background-color: #F7F7F7;
    opacity: 0.7;
    }

</style>
<body>
<div class="container-fluid">
<div class="row">
<div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="/business/{{request.user.profile.neighborhood.id}}" class="btn btn-primary">Businesses Around Me</a>


        </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<ul class="list-inline">
                        <li class="list-inline-item" id="oc">
                            <span class="font-weight-bold"><h3 class="occupants">Neighborhood Occupants:</h3> <h4 id="occupant">You have</h4> <h1 id="occ-count"><b>{{location_details|length}}</b> </h1></span> <h4 class="occupants">neighbor(s)</h4>
                        </li>
                    <li></li>
                    </ul>

        </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="hotlines">
            <h4 id="home-header" style="text-align:center; color: black;">Local Hotlines</h4>

            <h5><b style="color: green;">Police Contacts:<br><br></b> {{location.police}}</h5>
            <h5><b style="color: green;">Hospital Contacts:<br><br></b> {{location.hospital}}</h5>


        </div>
</div>
    </div>




    <div class="row">
                {% for post in posts %}

        <ul id="po" class="col-xs-5 col-sm-4 col-md-4 col-lg-5" style="text-align:left; background-color: #F7F7F7; margin-left: 10px;">
           <li style="display: inline;">

               <h3><b style="color: green;">Title:</b> {{post.name}}</h3>


            <h5 style="color: black;" ><b><i>{{image.profile}}</i></b></h5>



            <h4 style="color: black;">Post Summary</h4>

            <h5><b style="color: green;">Location:</b> {{post.location}}</h5>
            <h5><b style="color: green;">Category:</b> {{post.category}}</h5>
            <h5><b style="color: green;">Posted By:</b> {{post.profile}}</h5>
            <h5><b style="color: green;">Details:</b> {{post.description}}</h5>
            <h5><b style="color: green;">Submitted:</b> {{post.pub_date|timesince}} ago</h5>

               <h5 class="displaying comments on a post"><br><br><b>Comments:</b>
                <a class="view-more"></a>
                          {% for comment in post.comments_set.all %}
                            <li class="comment-list__comment">
                              <a href="{% url 'profile' username=comment.profile.username }" class="user">
                                {{ comment.user.username }}
                              </a>
                              <span class="comment">{{ comment.comment }}</span>
                            </li>
                          {% endfor %}



                            {% if request.user.is_authenticated %}
                          <section class="input-row">
                            <i class="fa # submit-like" aria-hidden="true"></i>
                            <div class="comment-input-wrapper">
                                <form action="{% url 'comment' post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="add-comment" name="comment" id="comment{{post.id}}" type="text" placeholder="Comment on this post....">

                                </form>
                            </div>
                            <div class="hidden-data {{ post.pk }}" style="display: none;">
                              <span class="post-pk">{{ post.pk }}</span>
                            </div>
                          </section>
                        {% endif %}
            </h5>

    </li>



 </ul>




    {% endfor %}
            </div>

</div>




</body>
{% endblock %}