{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<style>
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}</style>
<div class="container-fluid">
<h2 id="home-header" style="text-align:center; color: green; background-color: #F7F7F7;">Neighborhood</h2>
<div class="row">
<div>
<div class="col-xs- col-sm- col-md-4 col-lg-4">
                    <a href="/business/{{request.user.profile.neighborhood.id}}" class="btn btn-primary">Businesses Around Me</a>


        </div>
    <div class="col-xs-4 col-sm- col-md-4 col-lg-4">
<ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold"><h3 style="color: green;">Neighborhood Population:</h3> You have <h4 style="color:green">{{location_details|length}} </h4></span> neighbor(s)
                        </li>
                    <li></li>
                    </ul>

        </div>

    <div class="col-xs-4 col-sm- col-md-4 col-lg-4">
            <h4 id="home-header" style="text-align:center; color: black; background-color: #F7F7F7;">Local Hotlines</h4>

            <h5><b style="color: green;">Police Contacts:<br><br></b> {{location.police}}</h5>
            <h5><b style="color: green;">Hospital Contacts:<br><br></b> {{location.hospital}}</h5>


        </div>
</div>
    </div>



{% for post in posts %}
<div class="container-fluid" style="background-color: #F7F7F7;">
    <div class="row" height="1000px">
        <br><br>
        <div class="col-xs-9 col-sm- col-md-8 col-lg-8" style="text-align:center;">
            <h3>{{post.name}}</h3>

            <h5 style="color: black;" ><b><i>{{image.profile}}</i></b></h5>



            <h4 style="color: black;">Post Summary</h4>

            <h5><b style="color: green;">Title:</b> {{post.name}}</h5>
            <h5><b style="color: green;">Location:</b> {{post.location}}</h5>
            <h5><b style="color: green;">Category:</b> {{post.category}}</h5>
            <h5><b style="color: green;">Posted By:</b> {{post.profile}}</h5>
            <h5><b style="color: green;">Description:</b> {{post.description}}</h5>
            <h5><b style="color: green;">Submitted:</b> {{post.pub_date|timesince}} ago</h5>




 </div>




    </div>
</div>
</div>


{% endfor %}


{% endblock %}