{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<style>
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
body{
    background:url("../../../static/img/bg6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;

    }
    h2{
    color: white;
    text-align: center;
    }

.occupants{
    color:white;
    text-align: center;

}
#occupant{
    color:white;
    text-align: center;


}
#occ-count{
    color:yellow;
    text-align: center;


}

#po{
    width: 20%;
    opacity: 0.7;
}
</style>
<body>
<div class="container-fluid">
<div class="row">
<div>
<div class="col-xs- col-sm- col-md-4 col-lg-4">
                    <a href="/business/{{request.user.profile.neighborhood.id}}" class="btn btn-primary">Businesses Around Me</a>


        </div>
    <div class="col-xs-4 col-sm- col-md-4 col-lg-4">
<ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold"><h3 class="occupants">Neighborhood Occupants:</h3> <h4 id="occupant">You have</h4> <h1 id="occ-count"><b>{{location_details|length}}</b> </h1></span> <h4 class="occupants">neighbor(s)</h4>
                        </li>
                    <li></li>
                    </ul>

        </div>

    <div class="col-xs-4 col-sm- col-md-4 col-lg-4">
            <h4 id="home-header" style="text-align:center; color: white;">Local Hotlines</h4>

            <h5><b style="color: green;">Police Contacts:<br><br></b> {{location.police}}</h5>
            <h5><b style="color: green;">Hospital Contacts:<br><br></b> {{location.hospital}}</h5>


        </div>
</div>
    </div>



{% for post in posts %}
<div class="container-fluid" id="po" style="background-color: #F7F7F7;">
    <div class="row">
        <br><br>
        <div class="col-xs-12 col-sm- col-md-12 col-lg-12" style="text-align:center;">
            <h3>{{post.name}}</h3>

            <h5 style="color: black;" ><b><i>{{image.profile}}</i></b></h5>



            <h4 style="color: black;">Post Summary</h4>

            <h5><b style="color: green;">Title:</b> {{post.name}}</h5>
            <h5><b style="color: green;">Location:</b> {{post.location}}</h5>
            <h5><b style="color: green;">Category:</b> {{post.category}}</h5>
            <h5><b style="color: green;">Posted By:</b> {{post.profile}}</h5>
            <h5><b style="color: green;">Details:</b> {{post.description}}</h5>
            <h5><b style="color: green;">Submitted:</b> {{post.pub_date|timesince}} ago</h5>




 </div>




    </div>
</div>
</div>


{% endfor %}

</body>
{% endblock %}