{%extends 'base.html'%}
{% block content %}
    <div class="container-fluid" style="background-color: #F7F7F7; margin-top: -20px;">


        <div class="row">

        {% if business%}
        <h2>Found {{business|length}} of searched businesses</h2>
        {% else %}
        <h2>That business does not exist</h2>
        {% endif %}
    </div>
    <div class="row">

        {%for biz in business %}

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <h3><b style="color: green;">Business Name:</b> <h5>{{biz.name}}</h5></h3>
            <h3><b style="color: green;">Neighborhood:</b> <h5>{{biz.neighborhood}}</h5></h3>
            <h3><b style="color: green;">Phone Number:</b> <h5>{{biz.phone_number}}</h5></h3>
            <h3><b style="color: green;">Email:</b> <h5>{{biz.email}}</h5></h3>
            <h3><b style="color: green;">Description:</b> <h5>{{biz.description}}</h5></h3>
            <h3><b style="color: green;">Products:</b> <h5>{{biz.products}}</h5></h3>



        </div>
    </div>

        <!--End Searching Projects-->
        {% endfor %}

</div>
</div>
{% endblock %}