{%extends 'base.html'%}
{% block content %}
    <div class="container-fluid" style="background-color: #F7F7F7; margin-top: -20px;">


        <div class="row">

        {% if business%}
        <h2>Found {{business|length}} of searched businesses</h2>
        {% else %}
        <h2>That business does not exist</h2>
        {% endif %}
    </div>
    <div class="row">

        {%for biz in business %}

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <h1>{{biz.name}}</h1>
            <!--<a href="{{project.url}}" class="text-center"><h5 id="username"><b><i>{{project.url}}</i></b></h5></a>-->

            <h5>{{ biz.email }} <h5 style="color: green;">Design</h5>  average = {{ project.average_design | floatformat }} </h5>
            <!--<h6 style="color: green;">Comments:</h6> {% for review in project.designrating_set.all %}-->
                <!--<ul>{{review.comment}}</ul>-->
                <!--{% endfor %}-->
            <h5>{{ project.rating.count }} <h5 style="color: green;">Usability</h5> average = {{ project.average_usability | floatformat }} </h5>

            <h5>{{ project.rating.count }} <h5 style="color: green;">Content</h5>  average = {{ project.average_content | floatformat }}</h5>

                     <br><br>
            <a href="{{project.url}}" class="blue-button">Visit site</a>




        </div>
    </div>

        <!--End Searching Projects-->
        {% endfor %}

</div>
</div>
{% endblock %}